/* Fonts */

@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('../fonts/AmaticSC-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arina';
    src: url('../fonts/Arina.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora-Regular';
    src: url('../fonts/Lora-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Container */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #fff;
    font-family: 'Lora-Regular', serif;
}

/* Header */

.header {
    text-align: center;
    padding: 2rem 20px 6rem;
}

.header__main-logo {
    display: inline-block;
    position: relative;
    top: 1.7rem;
    left: 1.4rem;
}

.header__main-logo a {
    color: #000000;
}

.header__main-logo-svg {
    transition: 0.1s;
}

.header__main-logo-svg:hover {
    color: #ffb600;
}

.header__wrap {
    padding: 0 0 5.2rem;
}

.header__about {
    display: inline;
    font-family: 'Arina', serif;
    font-size: 6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 0.66;
}

.header__nav {
    font-family: 'AmaticSC-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 1.3;
}

.header__nav-mobile {
    display: none;
}

.header__items {
    display: flex;
    justify-content: center;
}

.header__item {
    padding: 1rem;
}

.header__item:not(:last-child) {
    border-right: 1px solid black;
}

.header__item a {
    color: #000;
    text-decoration: none;
}

.header__item a:hover {
    color: #ffb600;
}

.header__item_active {
    position: relative;
}

.header__item_active::after {
    position: absolute;
    content: '.';
    font-size: 4em;
    top: -0.55em;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 120.1em) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 75em) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 64em) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 48em) {
    html {
        font-size: 62.5%;
    }

    .header {
        padding: 0.2rem 20px 6.2rem;
    }

    .header__nav {
        display: none;
    }

    .header__nav-mobile {
        display: block;
        font-family: 'AmaticSC-Regular', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.5rem;
        line-height: 1.3;
    }

    .header__item-group-mobile {
        cursor: pointer;
    }

    .header__item-mobile:not(:last-child) {
        padding-bottom: 2rem;
    }

    .header__item-mobile a {
        color: #000;
        text-decoration: none;
    }

    .header__item-mobile_active {
        color: #777;
        font-size: 2.8rem;
    }

    .header__item-mobile_active a {
        color: #777;
        font-size: 2.8rem;
    }

    .header__item-mobile_hidden {
        display: none;
    }

    .header__item-mobile a:hover {
        color: #ffb600;
    }
}

@media screen and (max-width: 28em) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 24.9em) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 20em) {
    html {
        font-size: 35%;
    }
}

/* Main */

.gallery__wrap {
    display: flex;
    width: 80%;
    column-gap: 2.6rem;
    margin: 0 auto 4rem;
}

.gallery {
    flex: 0 1 33.33%;
    display: flex;
    row-gap: 2.6rem;
    flex-direction: column;
}

.gallery__item {
    position: relative;
    text-align: center;
    opacity: 0.01;
    transform: translateY(100px);
    transition: 0.5s ease-out
}

.gallery__item img {
    max-width: 100%;
    border-radius: 5px;
    filter: saturate(1.3) contrast(1.1);
}

.gallery_item-headline_mobile {
    font-family: 'AmaticSC-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.3;
    display: none;
    text-align: center;
    padding-top: 2.5rem;
}

.gallery__item-details {
    position: absolute;
    top: 1.4rem;
    right: 5%;
    background-color: #fff;
    border-radius: 50%;
    width: 10%;
    padding-bottom: 10%;
    opacity: 0;
    transition: 0.2s;
}

.gallery__item:hover .gallery__item-details {
    opacity: 1;
}

.gallery__item-details:hover {
    background-color: #ffb600;
}

.gallery__item-details::before {
    content: 'i';
    position: absolute;
    font-size: 2.1rem;
    font-family: 'Lora-Regular', serif;
    font-weight: 400;
    max-width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery__item-info {
    position: absolute;
    top: 0;
    background: #f7f2e7;
    transition: 0.2s;
    margin-top: -1.45rem;
    padding: 2rem;
    width: 1001%; /* Description should slightly cover image */
    min-height: 100vh;
    z-index: 1;
    display: none;
}

.gallery:not(:last-child) .gallery__item-info {
    left: calc(150% + 2.6rem);
}

.gallery:last-child .gallery__item-info {
    right: calc(950% + 2.6rem);
}

.gallery__item-details:hover .gallery__item-info {
    display: block;
}

.gallery__item-headline {
    font-family: 'AmaticSC-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 4.5rem;
}

.gallery__item-description {
    font-size: 1.6rem;
    font-family: 'Lora-Regular', serif;
    font-weight: 400;
    line-height: 1.3;
}

@media screen and (max-width: 48em) {
    .gallery__wrap {
        flex-direction: column;
        width: 73%;
        row-gap: 3.5rem;
    }

    .gallery {
        row-gap: 3.5rem;
    }

    .gallery__item:hover .gallery__item-details {
        display: none;
    }

    .gallery_item-headline_mobile {
        display: block;
    }
}

/* Footer */

.footer__nav {
    font-size: 1.28rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    font-style: normal;
}

.footer__items {
    display: flex;
    justify-content: center;
    background-color: #fff;
    transition: 0.2s ease-in;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    z-index: 100;
}

.footer__nav_visible {
    transform: translateY(0%);
}

.footer__item:not(:last-child):not(:last-child) {
    border-right: 1px solid #aaa;
}

.footer__item a {
    text-decoration: none;
    color: #888;
}

.footer__item a:hover {
    color: #ffb600;
}

.footer__item {
    padding: 0.5rem 2rem;
}

@media screen and (max-width: 48em) {
    .footer__nav {
        display: none;
    }
}
